.App {
  text-align: center;
  display: flex; /* Add this line to enable flex layout */
  flex-direction: row; /* Set the flex direction to horizontal */
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  width: 100%;
}
.kanban-board {
  display: flex;
  overflow-x: auto; /* Add horizontal scrolling if needed */
  gap: 16px;
  margin: 100px;

  width: 100%;
  height: 100%;
}

.column {
  flex: 0 0 auto; /* Allow columns to shrink if needed */
  width: 30%;
  height: 600px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
